body{
margin:0;
min-height:100vh;
background:radial-gradient(#7a0000,#300000);
display:flex;
flex-direction:column;
align-items:center;
font-family:Georgia,serif;
overflow-x:hidden;
}

/* FLOATING KISSES */

.kisses span{
position:fixed;
font-size:22px;
animation:float 14s linear infinite;
opacity:0.6;
}

@keyframes float{
0%{transform:translateY(110vh);}
100%{transform:translateY(-10vh);}
}

/* ENVELOPE */

.envelope-container{
margin-top:120px;
}

.envelope{
width:300px;
height:200px;
position:relative;
}

.back{
background:#ead6b0;
width:100%;
height:100%;
border-radius:8px;
}

.flap{
position:absolute;
top:0;
width:100%;
height:100%;
background:#b00000;
clip-path:polygon(0 0,50% 55%,100% 0);
transform-origin:top;
transition:1s;
}

.envelope.open .flap{
transform:rotateX(180deg);
}

.seal{
width:80px;
height:80px;
background:radial-gradient(circle,#c00000,#600000);
border-radius:50%;
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 20px black;
letter-spacing:1px;
}

/* SCROLL */

.scroll{
display:none;
margin-top:40px;
}

.paper{
background:linear-gradient(#f4e3c1,#e6cfa3);
width:65%;
max-width:650px;
padding:80px;
border-radius:6px;
box-shadow:0 0 40px rgba(0,0,0,0.6);
position:relative;
}

.paper:before,
.paper:after{
content:"";
position:absolute;
left:0;
width:100%;
height:40px;
background:linear-gradient(#d3b989,#f4e3c1);
}

.paper:before{top:-40px;}
.paper:after{bottom:-40px;}

.paper h1{
text-align:center;
color:black;
margin-bottom:30px;
}

.paper p{
white-space:pre-wrap;
font-size:18px;
line-height:1.8;
}

/* FILM STRIP */

.film{
display:none;
margin:60px 0;
background:black;
padding:20px;
border-radius:12px;
}

.film img{
display:block;
width:230px;
margin:25px auto;
border:6px solid white;
}
