body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(45deg,#ff9a9e,#fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 40px 30px;
  border-radius: 25px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 30px rgba(0,0,0,0.25);
}

h1 {
  color: #ff4d6d;
}

.message {
  font-size: 18px;
  line-height: 1.7;
  margin: 25px 0;
  color: #333;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.gallery img {
  width: 100px;
  height: 130px;
  object-fit: cover;
  border-radius: 15px;
}

.footer {
  font-size: 20px;
  color: #ff4d6d;
  margin-bottom: 20px;
}

button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ff758f;
}
/* Floating Hearts */

.heart {
  position: fixed;
  bottom: -20px;
  font-size: 22px;
  animation: floatUp linear infinite;
  opacity: 0.7;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110vh);
  }
}

